.ArticleDetailsPage {
    min-height: 100%;
}

.article {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.commentsTitle {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}
