.ProfilePageHeader {
    display: flex;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    .editBtn {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

.buttonsWrapper {
    margin-left: auto;
}
